body{background-color: #808080;
    width:none;
    border: 25px solid black;
    padding:10em;
    margin:none;
}

h1 {
  color:blue;
  text-align: center;
}


h2 {
  font-style: bold;
  text-align: center;
}


div.a{
  font-size: 130px;
}


div.b {
  font-size: 130px;
  float: right;
  margin: 0 0 10px 10px;
}


.img-circle {
  border-radius: 50%;
  float: right;
}


div.d{
  font-size:145px;
}
